
/* Box */
.box-card
{
  margin: 35px;

}
.img
{
  position: relative;
  border-radius: 15px;
  left: 350px;
}


.field-login {
  margin-bottom: 35px !important;
  height: 50px !important;
  border-radius: 20px !important;
}
.output
{
  height: 50px !important;
  font-size: 16px !important;
  border-radius: 5px !important;

}

.con
{
  height: 50px ;
  font-size: 20px ;
  margin-top: 20px;
}


.con1
{
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #000;
  
}

.con2
{
  font-weight: bold;
  background-color:  #d8d8da ;
  border-radius: 5px ;
  font-family: 'Ubuntu', sans-serif;
  color: #918c8c;
  
}

.con3
{
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  color: #918c8c;
  margin-top: 15px;
}
